<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kakie.music_backend.mapper.CollectMapper">

    <resultMap id="BaseResultMap" type="com.kakie.music_backend.model.entity.Collect">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="songId" column="song_id" jdbcType="INTEGER"/>
            <result property="songListId" column="song_list_id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,type,
        song_id,song_list_id,create_time
    </sql>
</mapper>
